<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yskcoder.fire.dao.SysOrgDao">
  <resultMap id="BaseResultMap" type="cn.yskcoder.fire.model.SysOrg">
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pid" jdbcType="BIGINT" property="pid" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="pids" jdbcType="VARCHAR" property="pids" />
    <result column="adress" jdbcType="VARCHAR" property="adress" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>