<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yskcoder.fire.dao.SysRoleOrgDao">
  <resultMap id="BaseResultMap" type="cn.yskcoder.fire.model.SysRoleOrg">
    <result column="role_org_id" jdbcType="BIGINT" property="roleOrgId" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>